body {
  font-family: 'Open Sans', sans-serif;
  background-color: #e5e5e5; }

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  color: #d44848; }

h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #d44848; }

.menu li a {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff; }
  .menu li a :hover {
    color: #ffffff; }

.menu-text {
  font-size: 1.2rem;
  font-weight: 800;
  color: #ffffff; }

.top-bar, .top-bar ul {
  background-color: #BD2C2C;
  padding-top: 0px;
  padding-bottom: 0px; }

/*$primary-color;*/
.top-bar-left ul li {
  padding-top: .3rem;
  padding-bottom: 0px; }
  .top-bar-left ul li a {
    padding-bottom: 0px; }

.top-bar-right ul li a {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #BD2C2C;
  border-bottom-style: solid;
  border-bottom-width: .3rem;
  border-color: #BD2C2C; }

.top-bar-right ul li a:hover {
  background-color: #BD2C2C;
  border-bottom-style: solid;
  border-bottom-width: .3rem;
  border-color: #ffffff; }

.button {
  background-color: #bdbd2c; }

.button:hover {
  background-color: #de7171; }

/*Footer CSS Start*/
.footer {
  background-color: #6a1919;
  padding: 2rem 4rem;
  text-align: center;
  color: #ffffff; }
  .footer i {
    font-size: 100px; }

.footer h4 {
  color: #ffffff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px; }
.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: #ffffff; }

@media only screen and (min-width: 40.063em) {
  .footer .columns:nth-child(n+2) {
    border-left: 1px solid #b3b3b3;
    min-height: 280px; } }
.footer-links {
  list-style-type: none; }
  .footer-links li {
    margin-top: .5em; }

/*Footer CSS End*/
.PeppyCodes-Dark-Section-Course {
  background-color: #d03333; }
  .PeppyCodes-Dark-Section-Course h1, .PeppyCodes-Dark-Section-Course h2, .PeppyCodes-Dark-Section-Course h5 {
    color: #ffffff; }
  .PeppyCodes-Dark-Section-Course h1 {
    font-size: 400%;
    border-bottom-width: .15em;
    border-bottom-style: solid;
    display: inline-block;
    position: relative;
    width: 50%; }
  .PeppyCodes-Dark-Section-Course h5 {
    font-size: 100%; }

/*#DA391B*/
.PeppyCodes-Grey-Section-Course h2 {
  color: #d03333; }
.PeppyCodes-Grey-Section-Course p {
  color: #777777;
  font-size: .9rem; }
.PeppyCodes-Grey-Section-Course h1 {
  color: #BD2C2C;
  font-size: 400%;
  border-bottom-width: .15em;
  border-bottom-style: solid;
  display: inline-block;
  position: relative;
  width: 50%; }
.PeppyCodes-Grey-Section-Course h5 {
  font-size: 60%; }

.PeppyCodes-Light-Section-Course {
  background-color: #fbeded; }
  .PeppyCodes-Light-Section-Course h1 {
    font-size: 400%;
    border-bottom-width: .15em;
    border-bottom-style: solid;
    display: inline-block;
    position: relative;
    width: 50%; }
  .PeppyCodes-Light-Section-Course h5 {
    font-size: 100%; }

/*#DA391B*/
.PeppyCodes-Dark-Section {
  background-color: #d03333; }
  .PeppyCodes-Dark-Section h2, .PeppyCodes-Dark-Section h5 {
    color: #ffffff; }

/*#DA391B*/
.PeppyCodes-Grey-Section h2 {
  color: #BD2C2C; }
.PeppyCodes-Grey-Section p {
  color: #777777;
  font-size: .9rem; }

.PeppyCodes-Light-Section {
  background-color: #fbeded; }

/*#DA391B*/
/*Hamburger Menu*/
.dropdown.menu .submenu {
  border: none; }

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow > a::after {
  border-color: #fff transparent transparent; }

.is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent #fff; }

.js-drilldown-back::before {
  border-color: transparent #fff transparent transparent; }

/*Cicle Line Item Start*/
.circle-li {
  text-align: left; }
  .circle-li li {
    list-style: none;
    counter-increment: item;
    margin-bottom: 5px; }

.circle-li li::before {
  margin-right: 10px;
  content: counter(item);
  border-radius: 100%;
  color: white;
  width: 1.2em;
  text-align: center;
  display: inline-block;
  background: #BD2C2C;
  width: 70px;
  height: 70px;
  margin: 6px 30px 0 0;
  font: 300 36px/4rem 'Open Sans', sans-serif; }

/*Cicle Line Item End*/

/*# sourceMappingURL=custom.css.map */
